# Wazuh Indexer (OpenSearch) credentials
WAZUH_INDEXER_HOST=36.93.185.111
WAZUH_INDEXER_PORT=9200
WAZUH_INDEXER_USER=admin
WAZUH_INDEXER_PASS=your-password-here
WAZUH_INDEXER_SSL=true
WAZUH_INDEXER_VERIFY_CERTS=false
